    <meta charset="UTF-8"/>
    <meta http-equiv="Content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Kit-Yan Choi </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
      body { 
      padding-top: 70px;
      padding-left: 10px;
      padding-right: 10px;
      }
    </style>

