---
layout: post-list
title: Blog
category: blog
---

{% for post in paginator.posts %}
  {% include post-list.html %}
{% endfor %}

<nav>
  <ul class="pager">
  {% if paginator.previous_page %}
  <li>
    <a href="{{ paginator.previous_page_path }}">
      <span aria-hidden="true">&larr;</span> Previous</a>
  </li>
  {% else %}
    <li class="disabled">
    <a href="#"><span aria-hidden="true">&larr;</span> Previous</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li>
    <a href="{{ paginator.next_page_path }}">
      Next<span aria-hidden="true">&rarr;</span></a>
  </li>
  {% else %}
  <li class="disabled">
    <a href="#"> Next<span aria-hidden="true">&rarr;</span></a>
  </li>
  {% endif %}
  </ul>
</nav>
