<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">
      {% include menu-bar.html %}
      <div id='content'>
	{% for post in site.posts %}
	{% if post.categories contains page.category %}
	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	<p>
	  {% assign contentsize =  post.content | strip_html | size  %}
	  {% capture shortcontent %}{{ post.content | split: '<!--start-excerpt-->' | last | split: '<!--end-excerpt-->' | first | strip_html }}{% endcapture %}
	  {% assign shortcontentsize = shortcontent | size  %}
	  {{ shortcontent }}
	  {% if shortcontentsize < contentsize %}
	   <a href="{{ post.url }}">...Read more</a>
	  {% endif %}
	</p>
	<p>
	  in <a href='/{{ post.categories[0] }}.html'>{{ post.categories[0] | capitalize }}</a> - <time>{{ post.date | date: "%e %B %Y" }}</time>
	</p>
	{% endif %}
	{% endfor %}
      </div>
    </div>
</body>
</html>
